<!DOCTYPE html>
<html>
	<head>
		<title>Resounden - Page Not Found</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="This page could not be found." />
		<meta name="keywords" content="404" />
		<meta name="robots" content="noindex" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Passion+One">
	</head>
	<body>
		<div id="error404">
			<span>404</span>
			Page Not Found
		</div>
	</body>
</html>