<!DOCTYPE html>
<html>
	<head>
		<title>Resounden</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="List and play all the favorite tracks of any Soundcloud user." />
		<meta name="keywords" content="soundcloud, favorites, player, music, playlist, mobile" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">

		<script type="text/javascript" src="js/react-with-addons.min.js"></script>
		<script type="text/javascript" src="js/react-dom.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="js/resounden-utils.js"></script>
	</head>
	<body>
		<div id="resounden-container"></div>
		<script type="text/javascript" src="js/resounden.js"></script>
	</body>
</html>